*{
    margin : 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
/*header and navigation styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    color: white;
    font-size: 20px;
    background-color:#FD6E0A;
    border-radius: 5px;
    padding :18px 35px;
    height: 64px;
    border-style: none;
}
nav {
    display :flex;
    justify-content: space-between;
    padding : 50px 200px;
    align-items: center;
    
}
nav ul{
    display : flex;
    align-items: center;
}
nav ul>li{
    
    list-style: none;
    margin: 50px;
}
/*banner*/
.banner{
    margin : 0px 200px;
    display : flex;
    align-items: center;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-size: 45px;
}
.banner-dis{
    font-size:16px;
    color: #757575;
    margin-bottom: 30px;

}
main{
    max-width: 1140px;
    margin : 0 auto;
    
}
.about{
    margin-top:130px;
    border-radius: 10px;
    text-align: center;
    background-color:#FFF8F3; 
    padding:130px 150px;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;    
   

}
.section-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.table{
    align-items: center;
}
.table td{
    padding: 35px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
.about .info-titel{
    font-size: 20px;
    color: #757575;
}
.about .info-descriptoin{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
/* what I Do Section styles*/
.what-i-do{
    margin-top:130px;
  
}
.what-i-do .section-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.what-i-do .section-paragraph{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    
    text-align: center;
    padding: 0 100px;
}
.skill-container{
    display: flex;
    gap: 30px;
}
.skill{
    margin-top:130px;
    border-radius: 10px;
    background-color:#FFF8F3; 
    padding: 33px;
    margin-bottom: 130px;
   
}

.skill .skill-title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.skill .skill-description{
    text-align:left;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* A summary of My Resume */
.resume{
    
    display: flex;
    gap : 30px;
    justify-content: space-between;
    background-color:#FFF8F3; 
    border-radius: 10px;
    padding: 30px;
    
    
}

.resume>div{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resume-title{
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
}
.resume-description{
    padding-right: 130px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 130px;
}
.contact
{
    display:flex;
    gap:100px;
    justify-content: center;
    background-color:#FFF8F3;
    padding: 130px 200px;
    text-align: left;
    margin: 0 200px;
    border-radius: 10px;
    

}
.contact-title{
    font-weight: 700;
    font-size: 35px;
    text-align: left;


}
.contact-dis{

    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    
   
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}


